@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #24292e;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 960px;
    padding: 0 4%;
    font-size: 0.9rem;
    margin: 0 auto 130px auto;
}
.site-title a {
    line-height: 1px;
}
.sec-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 65px;
}

#header {
    max-width: 960px;
    padding: 0 4%;
    display: flex;
    height: 270px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li a {
    color:#24292e;
}
#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}
#header li a:hover {
    opacity: 0.7;
}
#header .icon {
    width: 20px;
}
#mainvisual {
    margin-bottom: 80px;    
}
#mainvisual img {
    height: 420px;
    width: 100%;
    max-width: 1920px;
    object-fit: cover;
}

#about li:first-child {
    margin-bottom: 30px;
}
#about p {
    margin-top: 30px;
    text-align: justify;
}

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#works li {
    width: 31%;
    margin-bottom: 23px;
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#contact dt {
    width: 15%;
}
#contact dd {
    width: 85%;
    margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #c8c8c8;
}
#contact dd textarea {
    height: 10rem;
}
#contact .button {
    text-align: center;
}
#contact .button input {
    background-color: #24292e;
    border: 1px solid #24292e;
    color: #fff;
    padding: 15px 0;
    width: 200px;
}
#contact .button input:hover {
    background-color: #fff;
    color: #24292e;
}
#footer {
    text-align: center;
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 0;    
}

@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }
    .site-title {
        margin-top: 20px;
    }
    .sec-title {
        margin-bottom: 40px;
    }
    #header {
        max-width: 100%;
        flex-direction: column;
        height: auto;
    }
    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }
    #header li:first-child {
        margin-left: 0;
    }
    #works ul {
        flex-direction: column;
    }
    #works li {
        width: 100%;
    }
    #news dl {
        flex-direction: column;
    }
    #news dt {
        border-bottom: none;
        padding-bottom: 0;
        width: 100%;
    }
    #news dd {
        width: 100%;
        padding-top: 0;
    }
    #contact dl {
        flex-direction: column;
    }
    #contact dt {
        width: 100%;
    }
    #contact dd {
        width: 100%;
    }
}